#rubiks-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 320px;
    height: auto;
    max-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    box-sizing: border-box;
    z-index: 9999;
    background: rgba(255,255,255,0.85);
    padding: 12px;
    border-radius:8px;
    font-family: sans-serif;
}

#rubiks-menu button {
    width: 100%;
    margin: 0;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background: #6a95ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-self: stretch;
}

#rubiks-menu b { grid-column: 1 / -1; text-align: center; margin: 0 0 8px 0; }
#rubiks-menu button:hover { background: #133aa6;}